.github-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
    font-size: 1.2rem;
  }
  
  .github-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #24292e;
    border-radius: 0.5rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: 60%;
  }
  
  .github-button:hover {
    background-color: #161b22;
  }
  